<%- include('header') %>

<div id="heading" class="box about">
  <h1><%= listTitle %></h1>
</div>


<div class="box">
  <p class="aboutText">
    Welcome to our snazzy web app, built using Node.js and Express.js, that makes managing your daily to-do lists a breeze! Say goodbye to the hassle of keeping track of your tasks manually. With our app, you can easily add items to your to-do list, and they'll be beautifully displayed on the app's home page. Plus, you can create a separate "work" list to keep track of your job-related tasks, and you'll be in complete control of your day. Our app is designed with a user-friendly interface and uses the EJS template engine for rendering views. We've also spiced things up with stylish CSS to give you an aesthetically pleasing experience. AOBASAR coded this web application on April 18, 2023, with love and care for your productivity.
  </p>
</div>

<%- include('footer') %>
