<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= listTitle %> - To Do List</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>

  <body>
    <div class="box top" id="heading">
      <h1>Ahmet's To Do</h1>
    </div>

    <div id="nav">
      <div class="items"><a href="/">Daily</a></div>
      <div class="items"><a href="/work">Work</a></div>
      <div class="items"><a href="/about">About</a></div>
    </div>
  </body>
</html>
